@font-face {
  font-family: 'Circe Rounded Regular';
  src: local('CirceRoundedWeb-Regular'), local('CirceRoundedWeb-Regular'),
  url('@fonts/CirceRoundedWeb-Regular.ttf') format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri Italic';
  src: local('Calibri-Italic'),
  url('@fonts/Calibri-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Calibri Regular';
  src: local('Calibri'),
  url('@fonts/Calibri.woff2') format('woff2');
  font-style: normal;
}


