@font-face {
  font-family: Calibri Bold;
  src: url(@fonts/Calibri-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Calibri Italic; /* Гарнитура шрифта */
  src: url(@fonts/Calibri-Italic.eot); /* Для IE5-8 */
  src: local(pompadur), url(@fonts/Calibri-Italic.woff2); /* Для остальных браузеров */
}

@font-face {
  font-family: Calibri Book; /* Гарнитура шрифта */
  src: url(@fonts/Calibri.eot); /* Для IE5-8 */
  src: local(pompadur), url(@fonts/Calibri.woff2); /* Для остальных браузеров */
}

