.sl_give_gifs {
  width: 100vw;
  height: 100vh;
  .sl_give_gifs-header {
    margin-bottom: 10px;

    .sl_give_gifs_header_top-title {
      font-family: 'Calibri-Bold', serif;
      margin: 0;
    }

    .sl_give_gifs__bottom-title {
      font-family: "Calibri-BoldItalic", serif;
      color: #ed1c24;
    }

    h3 {
      font-size: 4.2em;
      text-align: center;
    }
  }
}

.sl_give_gifs {

  .sl_give_gifs_block {

    .sl_give_gifs-background {
      height: 60vh;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: #ececec;

      .sl_give_gifs__main {
        width: 1280px;
        display: flex;
        justify-content: center;
        column-gap: 50px;
        background-image: url("@images/9-2-confetti-png-picture.png");
        background-repeat: round;
        .sl_give_gifs_item {
          width: 450px;
          height: 670px;
          border-radius: 40px;
          display: flex;
          margin-top: 20px;
          position: relative;
          -webkit-box-shadow: 10px 10px 3px -2px rgba(34, 60, 80, 0.2);
          -moz-box-shadow: 10px 10px 3px -2px rgba(34, 60, 80, 0.2);
          box-shadow: 10px 10px 3px -2px rgba(34, 60, 80, 0.2);
          flex-direction: column;
          align-items: center;

          .sl_bow_ribbon {
            position: absolute;
            top: 0;
            left: -5px;
            height: auto;
            width: 102%;
            rotate: 3deg;
            z-index: 99;
          }

            .sl_give_gifs_item_title {
              position: relative;
              background-color: white;
              height: 70px;
              width: max-content;
              color: #ed1c24;
              font-family: "Circe Rounded DM Web Extra Bold", serif;
              font-size: 3em;
              display: flex;
              align-items: center;
              border-radius: 0 0 20px 20px;
              -webkit-box-shadow: 10px 10px 8px 0 rgba(34, 60, 80, 0.2);
              -moz-box-shadow: 10px 10px 8px 0 rgba(34, 60, 80, 0.2);
              box-shadow: 10px 10px 8px 0 rgba(34, 60, 80, 0.2);

              h3 {
                margin: 0 20px 0 20px;
              }
            }
        }
      }
    }

  }
}

.sl_give_gifs {
  .sl_give_gifs-green {
    background-color: #17ac51;
  }
  .sl_give_gifs-red {
    background-color: #ed1c24;
  }

  .sl_give_gifs-text {
    font-family: 'Calibri-Bold', serif;
    color: white;
    padding-top: 17%;
    font-size: 3.7em;
    text-align: center;
    z-index: 999;
    p {
      margin: 0;
    }

    span {
      color: yellow;
    }

    .sl_give_gifs-text-all {
      font-size: 1.2em;
    }

    .sl_give_gifs-text-we {
      font-family: 'Calibri-Italic', serif;
      font-size: 0.8em;
    }
  }

  .sl_ball-left {
    position: absolute;
    top: -113px;
    left: -368px;
  }

  .sl_ball-right {
    position: absolute;
    top: -87px;
    right: -375px;
  }

  .sl_give_gifs_item_but {
    font-size: 2.5em;
    color: white;
    font-family: 'Calibri-Bold', serif;

    h2 {
      margin: 0;
      padding: 0 20px 0 20px;
      border: 2px solid white;
      border-radius: 30px;
      width: max-content;
      background-color: #54b848;
    }
  }
  .sl_give_gifs-text-ol {
    font-family: 'Calibri', serif;
    font-size: 2em;
    color: white;

    span {
      color: yellow;
    }

    li {
      padding-bottom: 20px;
    }
  }
  .sl_new_block-button {
    position: absolute;
    bottom: 8px;
    right: 11px;

    .sl_bal-button-link {
      font-size: 2em;
      position: absolute;
      bottom: 8px;
      right: 11px;
    }
  }
}
